//variables de navbar
$navbar-bg-color: #333;
$navbar-link-color: white;
$navbar-hover-bg-color: #575757;
$navbar-hover-color: white;
$navbar-active-bg-color: #4CAF50;
$navbar-active-color: white;
$button-bg-color: #4CAF50;
$button-text-color: white;


// variables de banner
$banner-bg-color: rgba(0, 0, 0, 0.5); 
$banner-text-color: rgb(240, 10, 10); 