.card-doctors{
    margin:50px;

    & img{
        width:300px;
        height:350px;
        border-radius:10px;
    }
    
    & h2{
        margin-top:20px;
        font-size:20px;
        color:#333;
    }

    & p{
        margin-top:10px;
        font-size:16px;
        color:#666;
    }

    & button{
        background-color:green;
        color:#fff;
        border:none;
        padding:10px 20px;
        cursor:pointer;
        border-radius:5px;
        margin-top:10px;
    };

    & button:hover{
        background-color:#666;
    }

}