.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    &_section{
        background-color: #826afb;
        text-align: center;
        flex-wrap: wrap;
        display:flex ;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 20px 20px;
    }

    &_doctors{
        background-color: #826afb;
        flex-wrap: wrap;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 20px 20px;
    }

    &_footer{
        background-color: $footer-bg-color;
        color: $footer-text-color;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }
    
    &_contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #826afb;
    }

    

}