.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    &_card{
        margin: 10px;
        padding: 20px;
        border-radius: 5px;
        display: inline-block;
        background:red;      
    }

    &_footer{
        background-color: $footer-bg-color;
        color: $footer-text-color;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }
    

}